
.navbar li a{
    position: relative;
    padding: 0;
}
.navbar li a::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -7px;
    height: 3px;
    width: 0;
    background-color: #F08B20;
}
.navbar li a:hover{
   padding: 0;
   color: #000000;
   font-weight: 600;
}
.navbar li a.active{
    color: #F08B20;
}
.navbar li a:hover::before,
.navbar li a.active::before{
    transition: width 0.3s ease-in-out;
    width: 100%;
}
.hero-content .button{
    gap:15px;
} 
.hero-content .button .line{
   width: 50px;
   height: 2px;
   background-color: #fff;
} 
.hero-content .button a{
    background-color: #fff;
    height: 55px;
    width: 55px;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: center;

} 
.hero-content .button a:hover svg{
   color: #000

} 
.hero-content h5{
     font-weight: 500;
} 
.footer-bottom p{
   font-size: 12px;
   text-align: end;
   color: #F4F4F4;
}
.about-us3-right .appointment{
    font-weight: 500;
    font-size: 18px;
    color:#F08B20;
    display: flex;
    align-items: center;
    gap:10px;
    margin: 55px;
    margin-block: auto;
}
.about-us3-right .appointment svg{ 
    transform: rotate(45deg);
}
.au3-info p{
    margin-bottom: 70px;
}
@media only screen and (max-width: 768px){
    .footer-bottom p{
        text-align: center;
}
 .footer-menu{
    text-align: center;
} 
 .footer-area .footer-logo{
    width: 50%;
    text-align: left;
} 
.about-us3-right .au3-info{
   margin: 20px 0;
}
.ss-carousel .item{
    margin: 10px;
}
.hero-content .button{
    display: none !important;
}
.about-us3-right .appointment{
    margin: 0 0 20px 0;
}
.au2-left-title h2{
    font-size: 24px;
    letter-spacing: 0px;
    line-height: 36px;
    font-weight: 600;
}
.au2-right-text {
    padding-top: 0;
}
}

