.logo-box .logo img{
    width: 60%;
}
.navbar li a{
    position: relative;
    padding: 0;
   
}
.navbar li a::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -7px;
    height: 3px;
    width: 0;
    background-color: #F08B20;
}
.navbar li a:hover{
   padding: 0;
   color: #000000;
   font-weight: 600;
}
.navbar li a.active{
    color: #F08B20;
 
}
.navbar li a:hover::before,
.navbar li a.active::before{
    transition:  0.3s ease-in-out;
    width: 100%;
}
.hero-content .button{
    gap:30px;
} 
.hero-content .button .line{
   width: 80px;
   height: 2px;
   background-color: #fff;
} 
.hero-content .button a{
    background-color: #fff;
    height: 80px;
    width: 80px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

} 
.hero-content .button a:hover svg{
   color: #000

} 
.hero-content h5{
     font-weight: 500;
     font-size: 25px;
} 
.footer-bottom p{
   font-size: 12px;
   text-align: end;
   color: #F4F4F4;
}
.about-us3-right .appointment{
    font-weight: 500;
    font-size: 18px;
    color:#F08B20;
    display: flex;
    align-items: center;
    gap:10px;
    margin: 55px;
    margin-block: auto;
}
.about-us3-right .appointment svg{ 
    transform: rotate(45deg);
}
.au3-info p{
    margin-bottom: 70px;
}
.team3-author-img img{
    border-radius: 50%;
}
.blog-details-head{
    background: rgba(0, 0, 0, 0) url(../img/bg/bg-4.png) repeat scroll 0 0;
    overflow: hidden;
    background-position: center center;
    background-size: cover;
    padding: 85px 0 120px;
    position: relative;
    /* height: 100vh; */
    z-index: 1;
}
.product-details-head{
    background: rgba(0, 0, 0, 0) url(../img/bg/bg-5.png) repeat scroll 0 0;
    overflow: hidden;
    background-position: center center;
    background-size: cover;
    padding: 85px 0 120px;
    position: relative;
    /* height: 100vh; */
    z-index: 1;
}
.product-page{
    padding: 125px 0 0;
}
.product-page .item{
background-color: #D9D9D9;
border-radius: 25px;
position: relative;
margin-bottom: 30px;
height: 90%;
display: flex;
align-items: center;
overflow: hidden;
}
.product-page .item img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.product-page .item h4{
position: absolute;
top: 25px;
left: 25px;
text-transform:uppercase;
font-size: 24px;
color: #fff;

}
.blog-details-head .text h4{
    text-transform:uppercase;
    font-size: 24px;
}
.portfolio-area  .product{
    margin-bottom: 35px;
    padding: 0 7px;
}
.portfolio-area  .product img{
    border-radius: 20px;
}
.portfolio-area  .product h4{
    text-transform:uppercase;
    font-size: 18px;
}
.products-brands-details{
    max-width: 700px;
    margin-inline: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 45px;
}
.products-brands-details h4{
    position: relative;
    font-size: 36px;
    line-height: 50px;
    margin-bottom: 20px;
}
.products-brands-details h6{
    position: relative;
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 20px;
    color: #515151;
}
.products-brands-details .brands{
    display: flex;
    flex-direction: row;
    column-gap: 80px;
}
.products-brands-details .brands img{
    width: 44%;
    height: 100%;
}

@media only screen and (max-width: 768px){
    .logo-box .logo img{
        width: 100%;
    }
    .portfolio-area  .product{
        padding: 0 15px;
    }
    .blog-details-head {
        margin-top: 83px;
    }
    .blog-top-area-slider{
        margin-top: 83px;
    }
    .social-area{
        padding: 90px 0px 0px 0px;
    }
    .partner-logo {
        padding: 15px 30px;
    }
    .products-brands-details .brands{
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    .products-brands-details .brands h4{
        font-size: 24px;
        letter-spacing: 0px;
        line-height: 44px;
    }
    .products-brands-details .brands h6{
        font-size: 16px;
        letter-spacing: 0px;
        line-height: 20px;
    }
    .products-brands-details .brands img{
        width: 30%;
        margin-inline: auto;
    }
    .footer-bottom p{
        text-align: center;
}
 .footer-menu{
    text-align: center;
} 
 .footer-area .footer-logo{
    width: 50%;
    text-align: left;
} 
.about-us3-right .au3-info{
   margin: 20px 0;
}
.ss-carousel .item{
    margin: 5px;
}
.hero-content .button{
    display: none !important;
}
.about-us3-right .appointment{
    margin: 0 0 20px 0;
}
.au2-left-title h2{
    font-size: 24px;
    letter-spacing: 0px;
    line-height: 36px;
    font-weight: 600;
}
.au2-right-text {
    padding-top: 0;
}
.social-slider-content{
    padding: 40px 0 0;
}
}

/* loader  */

#loadingDiv{
    height: 100vh;
    z-index: 999999;
    position: fixed;
    width: 100%;
    background-color: #33302C;
    top: 0;
    display: flex;
}

.loader {
    position: relative;
    width: 54px;
    height: 54px;
    border-radius: 10px;
  }
  
  .loader div {
    width: 8%;
    height: 24%;
    background: #F08B20;
    position: absolute;
    left: 50%;
    top: 30%;
    opacity: 0;
    border-radius: 50px;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    animation: fade458 1s linear infinite;
  }
  
  @keyframes fade458 {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0.25;
    }
  }
  
  .loader .bar1 {
    transform: rotate(0deg) translate(0, -130%);
    animation-delay: 0s;
  }
  
  .loader .bar2 {
    transform: rotate(30deg) translate(0, -130%);
    animation-delay: -1.1s;
  }
  
  .loader .bar3 {
    transform: rotate(60deg) translate(0, -130%);
    animation-delay: -1s;
  }
  
  .loader .bar4 {
    transform: rotate(90deg) translate(0, -130%);
    animation-delay: -0.9s;
  }
  
  .loader .bar5 {
    transform: rotate(120deg) translate(0, -130%);
    animation-delay: -0.8s;
  }
  
  .loader .bar6 {
    transform: rotate(150deg) translate(0, -130%);
    animation-delay: -0.7s;
  }
  
  .loader .bar7 {
    transform: rotate(180deg) translate(0, -130%);
    animation-delay: -0.6s;
  }
  
  .loader .bar8 {
    transform: rotate(210deg) translate(0, -130%);
    animation-delay: -0.5s;
  }
  
  .loader .bar9 {
    transform: rotate(240deg) translate(0, -130%);
    animation-delay: -0.4s;
  }
  
  .loader .bar10 {
    transform: rotate(270deg) translate(0, -130%);
    animation-delay: -0.3s;
  }
  
  .loader .bar11 {
    transform: rotate(300deg) translate(0, -130%);
    animation-delay: -0.2s;
  }
  
  .loader .bar12 {
    transform: rotate(330deg) translate(0, -130%);
    animation-delay: -0.1s;
  }
  